.spinner-border {
    margin-top: 70px;
    margin-bottom: 70px;
}

hr {
    margin: 0;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
}

.separator {
    height: 50px;
    position: relative
}