<div class="jumbotron text-center">
    <h1>Users</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="d-flex justify-content-center">
    <h4>Admins:</h4>
</div>

<div *ngFor="let u of users.users">
    <table class="table" *ngIf="u && u.role === 'admin'">
        <thead>
            <tr>
                <th scope="col">{{ u.username }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Name: {{ u.name }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Email: <a href="mailto:{{ u.email }}">{{ u.email }}</a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Role: {{ u.role }}</div>
                        <div class="col" *ngIf="this.user.id !== u.id">
                            <button (click)="makeAdmin($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-small btn-dark">Admin</button>
                            <button (click)="makeEmployee($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Employee</button>
                            <button (click)="makeUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">User</button>
                            <button (click)="deleteUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <h4>Employees:</h4>
</div>

<div *ngFor="let u of users.users">
    <table class="table" *ngIf="u && u.role === 'employee'">
        <thead>
            <tr>
                <th scope="col">{{ u.username }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Name: {{ u.name }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Email: <a href="mailto:{{ u.email }}">{{ u.email }}</a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Role: {{ u.role }}</div>
                        <div class="col" *ngIf="this.user.id !== u.id">
                            <button (click)="makeAdmin($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-small btn-dark">Admin</button>
                            <button (click)="makeEmployee($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Employee</button>
                            <button (click)="makeUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">User</button>
                            <button (click)="deleteUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <h4>Users:</h4>
</div>

<div *ngFor="let u of users.users">
    <table class="table" *ngIf="u && u.role === 'user'">
        <thead>
            <tr>
                <th scope="col">{{ u.username }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Name: {{ u.name }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Email: <a href="mailto:{{ u.email }}">{{ u.email }}</a></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col">
                    <div class="row">
                        <div class="col">Role: {{ u.role }}</div>
                        <div class="col" *ngIf="this.user.id !== u.id">
                            <button (click)="makeAdmin($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-small btn-dark">Admin</button>
                            <button (click)="makeEmployee($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Employee</button>
                            <button (click)="makeUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">User</button>
                            <button (click)="deleteUser($event)" *ngIf="this.user.role === 'admin'" id="{{ u.id }}" class="btn btn-dark btn-small">Delete</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>