<div class="jumbotron text-center">
    <h1>Current issues</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngFor="let i of issues.issues;">
    <table class="table" id='tab'>
        <thead>
            <tr>
                <th scope="col">
                    <div class="row issue-header">
                        <div class="col-8">
                            <h4>#{{ i.id }} {{ i.title }}</h4>
                        </div>
                        <div class="col-4">{{ i.date }}</div>
                    </div>
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="col">
                    <div class="row" *ngIf="i.handler">
                        <div class="col">Handler: {{ i.handler.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Status: {{ i.status }}
                        </div>
                        <div class="col-4">
                            <button (click)="untrack($event)" *ngIf="this.user.role !== 'user' && i.status !== 'untracked'" id="{{ i.id }}" class="btn btn-small btn-dark">Untrack</button>
                            <button (click)="track($event)" *ngIf="this.user.role !== 'user' && i.status !== 'tracked'" id="{{ i.id }}" class="btn btn-dark btn-small">Track</button>
                            <button (click)="close($event)" *ngIf="this.user.role !== 'user' && i.status !== 'closed'" id="{{ i.id }}" class="btn btn-dark btn-small">Close</button>
                            <button (click)="ignore($event)" *ngIf="this.user.role !== 'user' && i.status !== 'ignored'" id="{{ i.id }}" class="btn btn-dark btn-small">Ignore</button>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">{{ i.issue }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td scope = "col">
                    <div class="row">
                        <div class="col-8">Posted by: {{ i.author }}</div>
                        <div class="col-4" *ngIf="this.user.role !== 'user'"><a href="mailto:{{ i.email }}">{{ i.email }}</a></div>
                    </div>
                </td>
            </tr>
        </thead>
    </table>
</div> 