<div class="jumbotron text-center">
<h3>Create New Issue</h3>
</div>
<form [formGroup]="newIssueForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="issueTitle">Title</label>
        <input type="text" formControlName="issueTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.issueTitle.errors }" />
        <div *ngIf="submitted && f.issueTitle.errors" class="invalid-feedback">
            <div *ngIf="f.issueTitle.errors.required">Issue is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="issue">Issue</label>
        <textarea formControlName="issue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.issue.errors }"></textarea>
        <div *ngIf="submitted && f.issue.errors" class="invalid-feedback">
            <div *ngIf="f.issue.errors.required">Issue is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit Issue
        </button>
    </div>
</form>